sampleForExport/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic Application"
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "northeurope",
        "westeurope"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Create_Output_Message_Variable": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "outputMessage",
                    "type": "string"
                  }
                ]
              },
              "runAfter": {}
            },
            "Repeat_for_set_number_of_times": {
              "type": "Until",
              "expression": "@equals(variables('counter'), 0)",
              "limit": {
                "count": 60,
                "timeout": "PT1H"
              },
              "actions": {
                "Append_inputString1_to_OutputMessage_variable": {
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "outputMessage",
                    "value": "@{triggerBody()?['inputString1']} "
                  },
                  "runAfter": {}
                },
                "Decrement_counter": {
                  "type": "DecrementVariable",
                  "inputs": {
                    "name": "counter",
                    "value": 1
                  },
                  "runAfter": {
                    "Append_inputString1_to_OutputMessage_variable": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "Set_Looping_Variable": [
                  "Succeeded"
                ]
              }
            },
            "Response": {
              "type": "Response",
              "inputs": {
                "statusCode": 200,
                "body": "  @{variables('outputMessage')}"
              },
              "runAfter": {
                "Repeat_for_set_number_of_times": [
                  "Succeeded"
                ]
              }
            },
            "Set_Looping_Variable": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "counter",
                    "type": "integer",
                    "value": "@parameters('RepeatCount')"
                  }
                ]
              },
              "runAfter": {
                "Create_Output_Message_Variable": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "RepeatCount": {
              "defaultValue": 10,
              "type": "Int"
            }
          },
          "triggers": {
            "request": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "properties": {
                    "inputString1": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {}
      }
    }
  ],
  "outputs": {}
}